.top {
    background-color: rgb(255, 255, 255);
    /* border-radius: 10px; */
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #dee2e6;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-color: black;
}
.container .content{
    margin: 100px 15px 15px 0px;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.top h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 28px;
    text-align: center;
}
.row{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.text-center {
    text-align: center!important;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.top .stats p.cases {
    font-size: 22px;
    font-weight: 500;
}
.top .stats .diff {
    position: absolute;
    top: 27px;
    left: 50%;
    margin-left: -50%;
    width: 100%;
    color: red;
}
.red.cases {
    color: red;
}
.stats .recovered.green{
    color: green;
}
.stats .hospital.green{
    color: green;
}
.stats .hosup{
    color: red;
}
.fatality{
    color:red;
}
.recovery{
    color:green;
}
.top small{
    text-align: center;
    color: rebeccapurple;
}